@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
.App {
  font-family: "Quintessential", cursive;
  text-align: center;
}

body {
  background-color: #bfefff;
}
input {
  width: 80%;
  height: 2rem;
}
